@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
font-family: AstroSpace;
src: url(/fonts/AstroSpace.ttf);
}
body {
    margin: 0;
    padding: 0;
}
.hero {
    position: relative;
    width: 24rem;
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 480%;
    height: 100%;
    background: url(https://www.beveragedaily.com/var/wrbm_gb_food_pharma/storage/images/_aliases/wrbm_large/publications/food-beverage-nutrition/beveragedaily.com/article/2019/05/31/bottled-water-packaging-uses-59-less-pet-plastic-than-other-beverages/9522518-1-eng-GB/Bottled-water-packaging-uses-59-less-PET-plastic-than-other-beverages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-button {
    background-color: #ae2d59;
    color: white;
    border: 1px solid #cb376a;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #cb376a;
    border: 1px solid #db7598;
}
.wtrdriver{
    font-family: "Montserrat", sans-serif;
    word-spacing: -8;
}
.clicke{
        padding-bottom: 92px;
        border-bottom-width: 0px;
        margin-bottom: 0px;
        padding-top: 81px;
        width: 201px;
        font-size:30px;
        font-family: Montserrat, sans-serif;
        text-align:center;
        border:none;
    }
    .hero-img {
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .hero-img button{
        padding-bottom: 92px;
        border-bottom-width: 0px;
        margin-bottom: 0px;
        padding-top: 81px;
        width: 201px;
        font-size:30px;
        font-family: Montserrat, sans-serif;
        text-align:center;
        border:none;
    }
body {
margin: 0;
padding: 0;
font-family: "Montserrat", sans-serif;
background-color: #212c3b;
}

    .center-h {
        display: flex; /* or display:grid */
        justify-content: center;
    }
    .center-v {
        display: flex;
        align-items: center;
    }
header {
background-color: #141b25;
}

.main-nav {
height: 90px;
}

.logo {
line-height: 90px;
font-size: 30px;
font-weight: bold;
text-decoration: none;
margin-left: 30px;
font-family: "Montserrat", sans-serif;
word-spacing: -9px;
}

.navlinks {
list-style: none;
float: right;
line-height: 90px;
margin: 0;
padding: 0;
}

.navlinks li {
display: inline-block;
margin: 0px 20px;
}

.navlinks li a {
color: white;
text-decoration: none;
font-size: 18px;
transition: all 0.1s linear 0s;
text-transform: uppercase;
}

.navlinks li a:hover {
color: #7ebcb9;
padding-bottom: 7px;
border-bottom: 2px solid #7ebcb9;
}

li a.contact {
background-color: #00adb5;
padding: 9px 20px;
border-radius: 50px;
transition: all 0.3s ease 0s;
border-bottom: none;
}

li a.contact:hover {
background-color: #047e85;
color: white;
border-bottom: none;
}

#check {
display: none;
}

.menu-btn {
font-size: 25px;
color: white;
float: right;
line-height: 90px;
margin-right: 40px;
display: none;
cursor: pointer;
}

@media (max-width: 800px) {
.navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
}
.logo {
    margin-left: 37%;
}
.navlinks li {
    display: block;
}

.navlinks li a {
    font-size: 20px;
}

.navlinks li a:hover {
    border-bottom: none;
}

.menu-btn {
    display: block;
}

#check:checked ~ .navlinks {
    right: 0;
}
}
@media (max-width: 626px) {
    .navlinks {
        position: fixed;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
        right: -100%;
        background: #222831;
    }
    .logo {
        align-items: center;
    }
    .navlinks li {
        display: block;
    }
    
    .navlinks li a {
        font-size: 20px;
    }
    
    .navlinks li a:hover {
        border-bottom: none;
    }
    
    .menu-btn {
        display: block;
    }
    
    #check:checked ~ .navlinks {
        right: 0;
    }
    }
    @media (max-width: 415px) {
        .hero {
            position: relative;
            width: 100%;
            height: 26rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .hero::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url(https://www.beveragedaily.com/var/wrbm_gb_food_pharma/storage/images/_aliases/wrbm_large/publications/food-beverage-nutrition/beveragedaily.com/article/2019/05/31/bottled-water-packaging-uses-59-less-pet-plastic-than-other-beverages/9522518-1-eng-GB/Bottled-water-packaging-uses-59-less-PET-plastic-than-other-beverages.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            filter: brightness(60%);
        }
        .hero-content {
            position: relative;
            font-family: "Monserrat", sans-serif;
            color: white;
            text-align: center;
            margin: 0.625rem;
        }
        .hero-title {
            font-size: 29px;
        font-weight: 600;
        margin-bottom: 0;
        font-family: Monserrat, sans-serif;
        margin-left: 11.3%;
        margin-top: 3%;
        display: block;
        margin-bottom: 6%;}
        .hero-button {
            background-color: black;
            color: white;
            border: 1px solid grey;
            margin-top: 7rem;
            font-family: "Monserrat", sans-serif;
            font-size: 1.125rem;
            font-weight: 200;
            cursor: pointer;
            margin-top: 0px;
            margin-bottom: 112px;
            width: 18rem;
            height: 3rem;
            margin-left: 9%;
            border-radius: 20px;
        }
        }
        .hero-button:hover {
            background-color:#181a1b;
            border: 1px solid #181a1b;
        }
        .navlinks {
            position: fixed;
            width: 100%;
            height: 100vh;
            text-align: center;
            transition: all 0.5s;
            right: -100%;
            background: #222831;
        }
        .logo {
            margin-left: 24%;
        }
        .navlinks li {
            display: block;
        }
        
        .navlinks li a {
            font-size: 20px;
        }
        
        .navlinks li a:hover {
            border-bottom: none;
        }
        
        .menu-btn {
            display: block;
        }
        
        #check:checked ~ .navlinks {
            right: 0;
        }
        
@media (max-width: 360px) {
.logo {
    font-size: 25px;
    margin-left: 27%;
}
.menu-btn {
    margin-right: 10px;
    font-size: 25px;
}

.menu-btn:focus {
    color: blue;
}
}
    .center-h {
        display: flex; /* or display:grid */
        justify-content: center;
    }
    .center-v {
        display: flex;
        align-items: center;
    }